################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagement/.vs
/EmployeeManagement/EmployeeManagement/bin/Debug/netcoreapp2.2
/EmployeeManagement/EmployeeManagement/obj
